{layout name="public:layout" /}

<h4 class="text-center text-danger">编辑文章</h4>
<form action="{:url('admin/article/doEdit')}" class="form-horizontal" method="post" enctype="multipart/form-data">
    <input type="hidden" value="{$artInfo.id}" name="id" id="id">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" value="{$artInfo.title}" name="title">
        </div>
    </div>

    <div class="form-group">
        <label for="cate_id" class="col-sm-2 control-label">栏目</label>
        <div class="col-sm-10">
            <select name="cate_id" id="cate_id" class="form-control">
                {volist name="cateList" id="cate"}
                <option value="{$cate.id}"
                        {eq name="$cate.id" value="$artInfo.cate_id"}
                        selected
                        {/eq}
                >{$cate.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
                        <textarea class="form-control" name="content" id="content" cols="30" rows="10" >
{$artInfo.content}
                        </textarea>
        </div>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">标题图片</label>
        <div class="col-sm-10">
            <img src="/uploads/{$artInfo.title_img}" class="img-rounded" width="100">
        </div>
    </div><div class="form-group">
        <label for="title" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="title_img" name="title_img">
        </div>
    </div>




    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" id="submit" value="发布">
        </div>
    </div>
</form>
<script>
    bkLib.onDomLoaded(function() {

        new nicEditor({iconsPath : '/static/js/nicEditorIcons.gif'}).panelInstance('content');

    });
</script>